<!DOCTYPE html>
<html>
<head>
  <title>Answer</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container p-3">
    <h1>Stupid coaching</h1>
    <p>Ask your coach anything:</p>
    <div class="form-group p-1">
      <form action="/answer" method="get">
        <input type="text" name="ask" placeholder="What would you like to ask?" class="form-control">
        <button type="submit" class="btn btn-primary m-3">Submit</button>

      </form>
    </div>
  </div>
</body>
</html>

